.games_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 20px;
    overflow-y: scroll;
}
.game_box:hover {
    transform: scale(1.1);
}
.game_box img:hover {
    box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.5);
}
/* btn_src */
.btn_src {
    position: fixed;
    top: 1rem;
    right: 2rem;
}

.search_p {
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* reponsive */

@media (max-width: 320px) {
    .search_p {
        padding: 10px;
        position: sticky;
        width: 100%;
        z-index: 999;
    }
    .btn_src {
        position: sticky;
        margin-left: 210px;
        margin-top: -100px;
    }
}
@media (max-width: 376px) {
    .search_p {
        padding: 10px;
        position: sticky;
        width: 100%;
        z-index: 999;
    }
    .btn_src {
        position: sticky;
        margin-left: 270px;
        margin-top: -100px;
    }
   .game_box{
    margin: 0 auto;
   }
}
@media (max-width: 426px) {
    .search_p {
        padding: 10px;
        position: sticky;
        width: 100%;
        z-index: 999;
    }
    .btn_src {
        position: sticky;
        margin-left: 310px;
        margin-top: -100px;
    }
   .game_box{
    margin: 0 auto;
   }
}
